#input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

input {
  width: 25%;
  height: 2.7vw;
  border: none;
  outline: none;
  font-size: 1.3vw;
  padding-right: 3%;
  padding-left: 0.4%;
  font-family: "Kanit", sans-serif;
}
#add {
  font-size: 1.7vw;
  background-color: white;
  border: none;
  outline: none;
  margin-left: -2%;
  cursor: pointer;
  height: 2.72vw;
  padding: 0% 0.5%;
}

#add:hover {
  background: #fc9189;
  color: white;
  transition: 0.2s ease;
}

@media (max-width: 1024px) {
  input {
    width: 75%;
    height: 7vw;
    font-size: 4vw;
  }
  #add {
    font-size: 5vw;
    margin-left: -2%;
    height: 7vw;
    padding-right: 1.5%;
    padding-left: 1.5%;
  }
  input::placeholder {
    font-size: 4vw;
  }
}
